* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: black;
  
}



.cup-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  
}

.cup {
  position: relative;
  width: 70px;
  height: 75px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.top {
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 15px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 1px;
  left: 2px;
  width: calc(100% - 5px);
  height: 12px;
  background: linear-gradient(to left, #f9f9f9, #d9d9d9);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.tea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c57e65, #e28462);
  border-radius: 50%;
}

.handle {
  position: absolute;
  right: -17px;
  top: 10px;
  width: 40px;
  height: 45px;
  border: 6px solid #dcdcdc;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-radius: 50%;
  transform: rotate(42deg);
}

.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 5px;
}

.vapour span {
  position: relative;
  bottom: 12px;
  display: block;
  margin: 0 0.5px 12px;
  min-width: 2px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(2px);
  animation-delay: calc(var(--i) * 0.5s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-37px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-75px) scaleX(10);
  }
}
