.footprints-container {
  position: absolute;
  left: 10px;
  top: 10px;
  animation: appear 1s ease-in-out forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.footprints-right {
  gap: 3px; /* space between rows */
}

.footprints-toes {
  position: relative;
  width: 90px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
}

.toe {
  position: absolute;
  background: transparent;
  border-radius: 50%;
}

.toe.big {
  width: 32px;
  height: 32px;
  right: 50px;
  top: 0px;
}
.toe.second {
  width: 26px;
  height: 26px;
  right: 32px;
  top: 10px;
}
.toe.middle {
  width: 22px;
  height: 22px;
  right: 18px;
  top: 22px;
}
.toe.fourth {
  width: 18px;
  height: 18px;
  right: 10px;
  top: 36px;
}
.toe.little {
  width: 14px;
  height: 14px;
  right: 8px;
  top: 52px;
}

.footprints-right span {
  display: block;
  width: 10px;
  height: 10px;
  background: #3f3f3f64;
}

.footprints-insole-right span {
  width: 80px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: -20px;
}

.footprints-left {
  position: relative;
  width: 120px;
  height: 220px;
}

.footprints-toes-left {
  position: absolute;
  width: 90px;
  height: 60px;
  left: 0;
  top: 0;
  overflow: hidden;
}

.footprints-toes-left .toe {
  position: absolute;
  background: transparent;
  border-radius: 50%;
}

.footprints-toes-left .toe.big {
  width: 32px;
  height: 32px;
  right: 0px;
  top: 0px;
  background: #3f3f3f64;
}
.footprints-toes-left .toe.second {
  width: 26px;
  height: 26px;
  right: 22px;
  top: 8px;
  background: #3f3f3f64;
  overflow: hidden;
}
.footprints-toes-left .toe.middle {
  width: 22px;
  height: 22px;
  right: 36px;
  top: 16px;
  background: #3f3f3f64;
}
.footprints-toes-left .toe.fourth {
  width: 18px;
  height: 18px;
  right: 52px;
  top: 28px;
  background: #3f3f3f64;
}
.footprints-toes-left .toe.little {
  width: 14px;
  height: 14px;
  right: 64px;
  top: 40px;
  background: #3f3f3f64;
}


.footprints-insole-left {
  position: absolute;
  left: 20px;
  top: 40px;
}

.footprints-insole-left-row-span {
  width: 80px;
  height: 150px;
  border-radius: 50%;
  background: #3f3f3f64;
  display: block;
}
